if SHIELD_POCKETBOARD_LEFT

config ZMK_KEYBOARD_NAME
    default "PocketBoard"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_POCKETBOARD_LEFT || SHIELD_POCKETBOARD_RIGHT

config ZMK_SPLIT
    default y

endif