#include "pocketboard.dtsi"

/*
 * PocketBoard-Corne-HW1
 * One nice!nano v2 on the left + MCP23017 @ 0x20 on the right.
 * Diodes are COL2ROW (cathode towards rows).
 */

/* I2C is physically wired on D1=P0.06 (SDA) and D0=P0.08 (SCL). */
&pinctrl {
    pocketboard_i2c0_default: pocketboard_i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 6)>,
                    <NRF_PSEL(TWIM_SCL, 0, 8)>;
        };
    };

    pocketboard_i2c0_sleep: pocketboard_i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 6)>,
                    <NRF_PSEL(TWIM_SCL, 0, 8)>;
            low-power-enable;
        };
    };
};

&i2c0 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    pinctrl-0 = <&pocketboard_i2c0_default>;
    pinctrl-1 = <&pocketboard_i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <100000>;

    mcp23017: gpio@20 {
        compatible = "microchip,mcp230xx";
        reg = <0x20>;
        gpio-controller;
        #gpio-cells = <2>;
        ngpios = <16>;
        status = "okay";
    };
};

/ {
    /*
     * Left half: direct nRF52840 matrix.
     * C1..C6 = D4,D5,D6,D10,D8,D9
     * R1..R4 = D14,D15,D16,D18
     */
    kscan_left: kscan_left {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";

        col-gpios
            = <&pro_micro 4 GPIO_ACTIVE_HIGH>
            , <&pro_micro 5 GPIO_ACTIVE_HIGH>
            , <&pro_micro 6 GPIO_ACTIVE_HIGH>
            , <&pro_micro 10 GPIO_ACTIVE_HIGH>
            , <&pro_micro 8 GPIO_ACTIVE_HIGH>
            , <&pro_micro 9 GPIO_ACTIVE_HIGH>
            ;

        row-gpios
            = <&pro_micro 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;

        debounce-press-ms = <5>;
        debounce-release-ms = <5>;
        debounce-scan-period-ms = <1>;
        poll-period-ms = <10>;
    };

    /*
     * Right half: MCP23017 matrix.
     * GPIO numbering in Zephyr: GPA0..GPA7 = 0..7, GPB0..GPB7 = 8..15.
     * C1..C6 = GPA0..GPA5
     * R1..R4 = GPB0..GPB3
     * The board already has external 10k pull-downs on B0..B3, so no
     * GPIO_PULL_DOWN flag is requested from the MCP23017.
     */
    kscan_right: kscan_right {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";

        col-gpios
            = <&mcp23017 0 GPIO_ACTIVE_HIGH>
            , <&mcp23017 1 GPIO_ACTIVE_HIGH>
            , <&mcp23017 2 GPIO_ACTIVE_HIGH>
            , <&mcp23017 3 GPIO_ACTIVE_HIGH>
            , <&mcp23017 4 GPIO_ACTIVE_HIGH>
            , <&mcp23017 5 GPIO_ACTIVE_HIGH>
            ;

        row-gpios
            = <&mcp23017 8 GPIO_ACTIVE_HIGH>
            , <&mcp23017 9 GPIO_ACTIVE_HIGH>
            , <&mcp23017 10 GPIO_ACTIVE_HIGH>
            , <&mcp23017 11 GPIO_ACTIVE_HIGH>
            ;

        debounce-press-ms = <5>;
        debounce-release-ms = <5>;
        debounce-scan-period-ms = <1>;
        poll-period-ms = <10>;
    };

    /*
     * Keep the 8x12 logical coordinates created by Shield Wizard:
     *   left  = rows 0..3, cols 0..5
     *   right = rows 4..7, cols 6..11
     */
    kscan0: kscan_composite {
        compatible = "zmk,kscan-composite";
        rows = <8>;
        columns = <12>;

        left {
            kscan = <&kscan_left>;
        };

        right {
            kscan = <&kscan_right>;
            row-offset = <4>;
            column-offset = <6>;
        };
    };
};

&physical_layout_pocketboard {
    kscan = <&kscan0>;
};
