#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q      &kp W      &kp E      &kp R      &kp T      &kp Y
                &kp A      &kp S      &kp D      &kp F      &kp G      &kp H
                &kp Z      &kp X      &kp C      &kp V      &kp B      &kp N

                &kp SPACE  &mo 1      &kp BSPC
            >;
        };

        maintenance_layer {
            bindings = <
                &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans

                &trans &trans &bootloader
            >;
        };
    };
};
